<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="shortcut icon" href="../images/logo1.png" type="favicon/ico" />

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">

    <!-- jQuery first,  -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js">
    </script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Google Maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfWPZ5ttQ8J83OCuWTW3UD4mAHE6Gnsnk&libraries=places" async defer></script>

    <!-- Import socket.io client library -->
    <script src='/socket.io/socket.io.js'></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>

<body>

    <div class="container-fluid">
        <header>
            <div class="logo">
                <img src="../images/logo1.png">
            </div>
            <div class="container">
            <nav class="navbar" id="navID">
                <button class="toggle-collapse" id="toggle-button">
                    <span class="toggle-icon"></span>
                </button>

                <ul class="side-nav">
                    <li class="nav-item">
                        <a href="#" class="site-name">LinkUP</a>
                    </li>
                    <li class="nav-item">
                        <a href="#create-event-form" class="nav-link modal-trigger">Create Event</a>
                    </li>
                    <li class="nav-item">
                        <a href="#search" class="nav-link modal-trigger">Search Event</a>
                    </li>
                    <li class="nav-item">
                        <a href="#profile" class="nav-link modal-trigger">Profile</a>
                    </li>
                    {{!-- <li class="nav-item">
                        <a href="#messages" class="nav-link modal-trigger">Messages</a>
                    </li> --}}
                </ul>
            </nav>
            </div>
        </header>
    </div>

    <div id="create-event-form" class="modal">
        <h5 class="modal-close">&#10005</h5>
        <div class="modal-content center">
            <h4>Create Event</h4>
            <form action="#">
        
                <div class="input-field">
                    <i class="material-icons">event</i>
                    <input type="text" id="event-name">
                    <label for="event-name">Name your Event</label>
                </div>
                <br>

                <div class='input-field'>
                    <i class='material-icons'>description</i>
                    <input type='text' id='event-description' class='active'>
                    <label for='event-description'>Add a description</label>
                </div>
                <br>

                <div class="input-field">
                    <i class="material-icons">location_on</i>
                    <input id="place-autocomplete-input" class='active' placeholder='' type="text"/>
                    <label for="place-autocomplete-input" class='active'>Enter event address</label>
                </div>
                <br>
                <div class='row'>
                    <button class='btn-large black waves-effect waves-light' type='submit' name='action' id="submit-event-button">Create Event!
                        <i class='material-icons right'>send</i>
                    </button>
                </div>
            </form>
                
        </div>
    </div>
    <div id='set-username' class='modal'>
        <h5 class="modal-close">&#10005</h5>
        <div class="modal-content center">
            <h4>Choose a username</h4>
            <form action="#">
                <div class="input-field">
                    <i class="material-icons">person</i>
                    <input id="username" class='active' placeholder='' type="text"/>
                    <label for="username" class='active'>Give a username</label>
                </div>
                <br>
                <div class='row'>
                    <button class='btn-large black waves-effect waves-light' type='submit' name='action' id="submit-username-button">Create Event!
                        <i class='material-icons right'>send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
        
    <div id="search" class="modal">
        <h5 class="modal-close">&#10005</h5>
        <div class="modal-content center">
            <h4>Search for Events</h4>
            <form action="#">
                <div class="input-field">           
                    under construction...
                </div>
            </form>
                
        </div>
    </div>
                 
    <div id="profile" class="modal">
        <h5 class="modal-close">&#10005</h5>
        <div class="modal-content center">
            <h4>All About You</h4>
            <form action="#">
                <div class="input-field">
                    under construction...
                </div>
            </form>

        </div>
    </div>

        {{!-- <div id="messages" class="modal">
            <div class="modal-content">
                <h4>Title</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda praesentium aut natus labore quod, vero ab officia deserunt ipsam laborum aliquid, corporis repellat. Quibusdam placeat harum eveniet nobis modi velit?</p>
            </div>
        </div> --}}
    </div>
    {{{body}}}
    <script src='../js/index.js'></script>
</body>
</html>