<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LinkUP</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link rel="shortcut icon" href="/images/logo1.png" type="favicon/ico" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>

<body>
    <div class="logo">
        <img src="/images/logo1.png">
    </div>

    <div class="parallax-container">
        <div class="parallax"><img src="/images/parallax1.jpg"></div>
    </div>
    <div class="section"></div>
    <main>
        <div class='center'>

            <h5 class="black-text">Please, login into your account</h5>
            <div class="section"></div>

            <div class="container center">
                <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

                    <form class="col s12" method="post">
                        <div class='row'>
                            <div class='col s12'>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='input-field col s12'>
                                <i class="material-icons prefix">person</i>
                                <input class='validate' type='email' name='email' id='email' />
                                <label for='email'>Enter your email</label>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='input-field col s12'>
                                <i class="material-icons prefix">lock</i>
                                <input class='validate' type='password' name='password' id='password' />
                                <label for='password'>Enter your password</label>
                            </div>
                            <label style='float: right;'>
                                <a class='pink-text modal-trigger' href='#modal2'><b>Forgot Password?</b></a>
                            </label>
                        </div>
                        <br/>
                        <div class='row'>
                            <div class='col s12'>
                                <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect black'>Login</button>
                            </div>
                        </div>
                    </form>
                </div>  
            </div>
             
            <br/>
        </div>
       </div>
    <div class="container center">
        <a class="waves-effect waves-light btn modal-trigger black" href="#modal1">Create Account</a>
    </div>
    <div class="section"></div>
    <div class="section"></div>
    </main>
    <div class="parallax-container">
        <div class="parallax"><img id='parallax2' src="/images/parallax2.jpg"></div>
    </div>
    <div class="modal" id="modal1">
        <h5 class="modal-close">&#10005</h5>
                
        <div class="modal-content center">
            <h4>Sign Up</h4><br>
            <form id='create-account-form' action="#">
                <div class="input-field">
                    <i class="material-icons prefix">person</i>
                    <input type="text" id="create-first">
                    <label for="first-name">First Name</label>
                </div>
                <br>
                <div class="input-field">
                    <i class="material-icons prefix">person</i>
                    <input type="text" id="create-last">
                    <label for="last-name">Last Name</label>
                </div>
                <br>
                <div class="input-field">
                    <i class="material-icons prefix">person</i>
                    <input type="text" id="username">
                    <label for="username">username</label>
                </div>
                <br>
                <div class="input-field">
                    <i class="material-icons prefix">person</i>
                    <input type="text" id="create-email">
                    <label for="email">Email</label>
                </div>
                <br>
                <div class="input-field">
                    <i class="material-icons prefix">lock</i>
                    <input type="password" id="create-pass">
                    <label for="pass">Password</label>
                </div>
                <br>    
                <div class="left" style="margin-left:20px;">
                    <input type="checkbox" id="check">
                    <label for="check">Remember Me</label>
                </div>
                <br>        
                <input type="submit" value="Submit" id='create-account-submit' class="btn btn-large black">        
            </form>
        </div>
    </div>
    <div class="modal" id="modal2">
        <h5 class="modal-close">&#10005</h5>

        <div class="modal-content center">
            <h4>Forgot Password?</h4><br>
            <form action="#">

        <div class="input-field">
            <i class="material-icons prefix">person</i>
            <input type="text" id="email">
            <label for="email">Confirm Email</label>
        </div>
            <br>

        <div class="input-field">
            <i class="material-icons prefix">lock</i>
            <input type="password" id="pass">
            <label for="pass">New Password</label>
        </div>

            <br>

        <div class="input-field">
            <i class="material-icons prefix">lock</i>
            <input type="password" id="pass">
            <label for="pass">Confirm New Password</label>
        </div>

            <br>
                
        <input type="submit" value="Submit" class="btn btn-large black">
                
        </form>

        </div>
    </div>

    <!-- <script src="/js/front_index.js"></script> -->
    <script>
    $(document).ready(function(){
        $('.parallax').parallax();
        $('.modal').modal();
        $('#create-account-form').submit(function(e) {
            e.preventDefault();
            $.POST({
                url: '/api/signup',
                data: {
                    firstname: $('#create-first').val(),
                    lastname: $('#create-last').val(),
                    username: $('#create-username').val(),
                    email: $('#create-email').val(),
                    password: $('#create-pass').val()
                }
            }).done(function(results) {
                console.log('User successfully created', results);
                $('#modal1').modal()
            })
        })
    });

    
    </script>

</body>

</html>