<div class='container'>
    <ul>
        {{#each roomNames}}
        <li class='card'>
            <div class='card-content'>
                <p>
                    <h5>{{roomName}}</h5>
                    <a href='/rooms/{{roomName}}'>
                        <button type='button' class='btn join-button' id={{roomName}}-join-button>JOIN</button>
                    </a>
                </p>
            </div>
        </li>
        {{/each}}
    </ul>
    <form id='create-chatroom'>
        <h4>Create New Chatroom</h4>
        <div class='row input-field'>    
            <input class='validate' type='text' name='new-chatroom-name' id='new-chatroom-name'>
            <label class='active' for='new-chatroom-name'>New Chatroom Name</label>
        </div>
        <button type='submit' class='btn' name='new-room-button' id='new-room-button'>SUBMIT</button>
    </form>
</div>
<script>
    $(function() {
        $('#new-room-button').click(function(e) {
            e.preventDefault();
            if ($('#new-chatroom-name').val()) 
            {            
                const data = {roomName: $('#new-chatroom-name').val(), creator: 'default'};
                $.post({
                    url: '/api/rooms',
                    data: data,
                    success: (response) => console.log('done', reponse)
                });
            }        
        })
    });
</script>