<div class='container'>
    <ul>
        {{#each roomNames}}
        <li class='card'>
            <div class='card-content'>
                {{roomName}}
            </div>
        </li>
        {{/each}}
    </ul>
</div>