.list-group-item {
  line-height: 2.5;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #DAFFEF;
}

.logo img{
  float: left;
   width: 10%;
   height: 10%;
   padding: 1px;
   margin: 1px;
   z-index: 1;
 }

/* Side navbar css */

.navbar{
  position: fixed;
  right: 0px;
  width: 260px;
  height: 100%;
  background-color: #000000;
  text-align: center;
  transition: 0.800s ease;
  z-index: 1;
}

.navbar > .side-nav{
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex:1 0 0%;
  justify-content: space-between;
}

.nav-item{
  display: flex;
  display: inline;
  float: none;
}

.nav-item > .nav-link{
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.1em;
  padding: 1em;
  flex: 1;
  display: block;
}

.nav-item > .nav-link:hover{
  background-color: whitesmoke;
  color: black;
}

.toggle-collapse{
  float: left;
  margin-left: -3.3em;
  margin-top: .5em;
  content: '';
  outline: inherit;
  border: 0px;
  background-color: transparent;
}


.nav-item > .site-name{
  text-decoration: none;
  padding: 1.3em;
  font-size: 2em;
  color: whitesmoke;
}

.nav-item:last-child > .nav-link i{
  padding: .5em;
}

.nav-item:hover:last-child > .nav-link{
  background-color: black;
  color: white;
}

.toggle-icon,
.toggle-icon::before,
.toggle-icon::after{
  content: "";
  width: 30px;
  height: 3px;
  position: fixed;
  background-color: black;
  border: 1px solid black;
  border-radius: 2em;
  cursor: pointer;
  transition: 0.7s ease;
  margin-top: 0.8em;
}

.toggle-icon::before{
  position: absolute;
  left: -1px;
  margin-top: -0.8em;
  opacity: 1;
}

.toggle-icon{
  width: 15px;
}

.toggle-icon::after{   
  position: absolute;
  left: -1px;
  margin-top: 0.6em;
  opacity: 1;
  width: 20px;
}

.show .toggle-icon::after{
  width: 30px;
}

.show .toggle-icon{
  width: 30px;
}

  .map-responsive{
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 0;
  }

  .map-responsive iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

body {
  background: #fff;
}

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: #e91e63;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid #e91e63;
  box-shadow: none;
}

body{
  background:#DAFFEF;
}

.modal{
 max-height:100%;
 overflow: auto;
}

input[type="submit"]{
  width: 100%;
  margin-top: 50px;
}
.modal-close{
  position: absolute;
  top:10px;
  right:10px;
  padding:0;
  margin:0;
}

/*map css*/

#map {
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  height: 0;
  z-index: 0;
}

.controls {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  margin-left: 17px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

.controls:focus {
  border-color: #4d90fe;
}
.title {
  font-weight: bold;
}
#infowindow-content {
  display: none;
}
#map #infowindow-content {
  display: inline;
}

.pac-container {
  z-index: 1005;
}
