.list-group-item {
  line-height: 2.5;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #DAFFEF;
}

.logo img{
  float: left;
  width: 10%;
  height: 10%;
  padding: 1px;
  margin: 1px;
}

.navbar{
  position: absolute;
  right: 0px;
  width: 260px;
  height: 100%;
  background-color: #000000;
  text-align: center;
  transition: 0.800s ease;
}

.navbar > .side-nav{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-item{
  display: flex;
}
.nav-item > .nav-link{
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.1em;
  padding: 1em;
  flex: 1;
}

.nav-item > .nav-link:hover{
  background-color: whitesmoke;
  color: black;
}

.toggle-collapse{
  float: left;
  margin-left: -3.3em;
  margin-top: .5em;
  content: '';
  outline: inherit;
  border: 0px;
  background-color: transparent;
}


.nav-item > .site-name{
  text-decoration: none;
  padding: 1.3em;
  font-size: 2em;
  color: whitesmoke;
}

.nav-item:last-child > .nav-link i{
  padding: .5em;
}

.nav-item:hover:last-child > .nav-link{
  background-color: black;
  color: white;
}

.toggle-icon,
.toggle-icon::before,
.toggle-icon::after{
  content: "";
  width: 30px;
  height: 3px;
  position: fixed;
  background-color: black;
  border: 1px solid black;
  border-radius: 2em;
  cursor: pointer;
  transition: 0.7s ease;
  margin-top: 0.8em;
}

.toggle-icon::before{
  position: absolute;
  left: -1px;
  margin-top: -0.8em;
  opacity: 1;
}

.toggle-icon{
  width: 15px;
}

.toggle-icon::after{   
  position: absolute;
  left: -1px;
  margin-top: 0.6em;
  opacity: 1;
  width: 20px;
}

.show .toggle-icon::after{
  width: 30px;
}

.show .toggle-icon{
  width: 30px;
}

  .map-responsive{
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 0;
  }

  .map-responsive iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }


÷
  /* modal code */


  /* The styles for the modal class makes it so that it creates a semi-transparent dark background color behind the modal when it is active. We stretch it to 100% width and height and set its visibility to hidden so that it doesn't appear. */


  .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

/* Then with the modal-content class, we position the actual modal in the center of the screen, with some visual goodies like a border-radius and some padding. */

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

/* To allow us to close the modal in an elegant way, we have a close button that is just a nicely styled X button at the top-right corner of the modal. */

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}

/* Finally, we have our class that handles styling the modal when it is opened. */


.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
